In [2]:
import pandas as pd
import os
import sys

In [3]:
bikes_data = pd.read_csv(sys.path[0] + '/data/citibike-tripdata.csv', sep = ',')

In [4]:
bikes_df = bikes_data.copy()

КОЛИЧЕСТВО ПРОПУСКОВ ВО ВСЕЙ ТАБЛИЦЕ

In [ ]:
display(bikes_df.isnull().sum().sum())

In [22]:
bikes_df['start station id'].isnull().sum()

169

самая популярная стоянка

In [ ]:
display(bikes_df['start station id'].mode())

самый популярный велик

In [ ]:
display(bikes_df['bikeid'].mode())

доля клиентов преобладающего типа

In [ ]:
display(bikes_df['usertype'].value_counts(normalize=True))

In [ ]:
display(bikes_df[bikes_df['gender'] == 1]['gender'].count())
display(bikes_df[bikes_df['gender'] == 2]['gender'].count())

In [5]:
display(bikes_df['end station name'].value_counts())

West St & Chambers St          1963
12 Ave & W 40 St               1909
Pershing Square North          1850
Central Park S & 6 Ave         1828
E 17 St & Broadway             1804
                               ...
Exchange Place                    3
Union St                          1
Warren St                         1
Montrose Ave & Bushwick Ave       1
Liberty Light Rail                1
Name: end station name, Length: 765, dtype: int64

In [34]:
display(bikes_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 14 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   starttime                300000 non-null  object
 1   stoptime                 300000 non-null  object
 2   start station id         299831 non-null  float64
 3   start station name       299831 non-null  object
 4   start station latitude   300000 non-null  float64
 5   start station longitude  300000 non-null  float64
 6   end station id           299831 non-null  float64
 7   end station name         299831 non-null  object
 8   end station latitude     300000 non-null  float64
 9   end station longitude    300000 non-null  float64
 10  bikeid                   300000 non-null  int64
 11  usertype                 300000 non-null  object
 12  birth year               300000 non-null  int64
 13  gender                   300000 non-null  int64
dtypes: float64(6), int64(3), object(5)
memory usage: 32.0+ MB

None

Удаление лишних столбцов и отображение количества столбцов

In [61]:
bikes_clear1 = bikes_df.drop(['start station id', 'start station name'], axis=1)
display(bikes_clear1.shape[1])

12