In [1]:
import pandas as pd
import os
import sys

In [2]:
covid_data = pd.read_csv(sys.path[0] + '/data/covid_data.csv', sep = ',')
covid_cp = covid_data.copy()

vaccinations_data = pd.read_csv(sys.path[0] + '/data/country_vaccinations.csv', sep = ',')

vaccinations_data = vaccinations_data[
    ['country', 'date', 'total_vaccinations', 
     'people_vaccinated', 'people_vaccinated_per_hundred',
     'people_fully_vaccinated', 'people_fully_vaccinated_per_hundred',
     'daily_vaccinations', 'vaccines']
]

In [3]:
covid_data = covid_data.groupby(
    ['date', 'country'],
    as_index=False)[['confirmed', 'deaths', 'recovered']].sum()

covid_data['date'] = pd.to_datetime(covid_data['date'])

covid_data['active'] = covid_data['confirmed'] - covid_data['deaths'] - covid_data['recovered']

covid_data = covid_data.sort_values(by=['country', 'date'])
covid_data['daily_confirmed'] = covid_data.groupby('country')['confirmed'].diff()
covid_data['daily_deaths'] = covid_data.groupby('country')['deaths'].diff()
covid_data['daily_recovered'] = covid_data.groupby('country')['recovered'].diff()

In [67]:
display(covid_data)

,date,country,confirmed,deaths,recovered,active,dayly_confirmed,dayly_deaths,dayly_recovered
11337,2020-02-24,Afghanistan,1.0,0.0,0.0,1.0,NaN,NaN,NaN
11570,2020-02-25,Afghanistan,1.0,0.0,0.0,1.0,0.0,0.0,0.0
11807,2020-02-26,Afghanistan,1.0,0.0,0.0,1.0,0.0,0.0,0.0
12051,2020-02-27,Afghanistan,1.0,0.0,0.0,1.0,0.0,0.0,0.0
12299,2020-02-28,Afghanistan,1.0,0.0,0.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...
15933,2020-03-12,occupied Palestinian territory,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16595,2020-03-14,occupied Palestinian territory,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16938,2020-03-15,occupied Palestinian territory,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17290,2020-03-16,occupied Palestinian territory,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17645,2020-03-17,occupied Palestinian territory,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [68]:
display(vaccinations_data.shape)

(42795, 9)

In [4]:
vaccinations_data['date'] = pd.to_datetime(vaccinations_data['date'])

In [70]:
display(covid_data['date'].min(), covid_data['date'].max())

Timestamp('2020-01-22 00:00:00')

Timestamp('2021-05-29 00:00:00')

In [71]:
display(vaccinations_data['date'].min(), vaccinations_data['date'].max())

Timestamp('2020-12-02 00:00:00')

Timestamp('2021-09-06 00:00:00')

In [6]:
covid_df = covid_data.merge(vaccinations_data, on=['date','country'], how='left')
#covid_df = covid_df.drop_duplicates(ignore_index=True)

In [7]:
print(covid_df.shape)
display(covid_df['date'].min(), covid_df['date'].max())

(86785, 16)

Timestamp('2020-01-22 00:00:00')

Timestamp('2021-05-29 00:00:00')

In [8]:
#covid_df.to_csv(sys.path[0] + '/data/covid_df.csv', sep = ',')

In [75]:
covid_df['death_rate'] = covid_df['deaths'] / covid_df['confirmed'] * 100
covid_df['recover_rate'] = covid_df['recovered'] / covid_df['confirmed'] * 100

In [81]:
death_rate = covid_df[covid_df['country'] == 'United States']['death_rate'].max()
print(death_rate.round(2))

7.19

In [86]:
recover_rate = covid_df[covid_df['country'] == 'Russia']['recover_rate'].mean()
print(recover_rate.round(2))

67.06