In [ ]:
import pandas as pd
import os
import sys

In [ ]:
ratings1_df = pd.read_csv(sys.path[0] + '/data/ratings1.csv', sep = ',')
ratings2_df = pd.read_csv(sys.path[0] + '/data/ratings2.csv', sep = ',')
dates_df = pd.read_csv(sys.path[0] + '/data/dates.csv', sep = ',')
movies_df = pd.read_csv(sys.path[0] + '/data/movies.csv', sep = ',')

In [32]:
#display(ratings1_df.head())
#display(ratings2_df.head())

# конкатенация без синхронизации номеров строк
ratings_all_df_simple = pd.concat([ratings1_df, ratings2_df]) 

# конкатенация с синхронизацией номеров строк
ratings_all_df = pd.concat([ratings1_df, ratings2_df], ignore_index=True) 

display(ratings_all_df)

        userId  movieId  rating
0            1        1     4.0
1            1        3     4.0
2            1        6     4.0
3            1       47     5.0
4            1       50     5.0
...        ...      ...     ...
100832     610   166534     4.0
100833     610   168248     5.0
100834     610   168250     5.0
100835     610   168252     5.0
100836     610   170875     3.0

[100837 rows x 3 columns]

Число строк в таблице

In [ ]:
print(ratings_all_df.shape[0])
print(dates_df.shape[0])

Убрать дубли из таблицы

In [ ]:
ratings_all_df = ratings_all_df.drop_duplicates(ignore_index=True)
display(ratings_all_df)

Сколько уникальных фильмов в таблице movies

In [ ]:
for col in movies_df:
    display(len(movies_df[col].unique().tolist()))

Сколько уникальных позиций в таблице ratings1

In [ ]:
display(len(ratings1_df['userId'].unique().tolist()))

В каком году выставлено больше всего оценок

In [ ]:
dates_df['date'] = pd.to_datetime(dates_df['date'], dayfirst=True)
display(dates_df['date'].dt.year.mode())

Конкатенируем правильно объединённые таблицы с таблицей дат. axis=1 - конкатенация по столбцам: дополнили таблицу не вниз, а вправо

In [31]:
ratings_dates = pd.concat([ratings_all_df, dates_df], axis=1)

join

other — таблица, которую мы присоединяем. При объединении она является «правой», а исходная таблица, от имени которой вызывается метод, является «левой».

how — параметр типа объединения. Он может принимать значения 'inner', 'left' (left outer), 'right' (right outer), и 'outer' (full outer). По умолчанию параметр установлен на 'left'.

on — параметр, который определяет, по какому столбцу в «левой» таблице происходит объединение по индексам из «правой».

lsuffix и rsuffix — дополнения (суффиксы) к названиям одноимённых столбцов в «левой» и «правой» таблицах.

merge

right — присоединяемая таблица. По умолчанию она является «правой».

how — параметр типа объединения. По умолчанию принимает значение 'inner'.

on — параметр, который определяет, по какому столбцу происходит объединение. Определяется автоматически, но рекомендуется указывать вручную.

left_on — если названия столбцов в «левой» и «правой» таблицах не совпадают, то данный параметр отвечает за наименования ключевого столбца исходной таблицы.

right_on — аналогично предыдущему, параметр отвечает за наименование ключевого столбца присоединяемой таблицы.

In [33]:
items_df = pd.DataFrame({
'item_id': [417283, 849734, 132223, 573943, 19475, 3294095, 382043, 302948, 100132, 312394], 
'vendor': ['Samsung', 'LG', 'Apple', 'Apple', 'LG', 'Apple', 'Samsung', 'Samsung', 'LG', 'ZTE'],
'stock_count': [54, 33, 122, 18, 102, 43, 77, 143, 60, 19]
})

purchase_df = pd.DataFrame({
    'purchase_id': [101, 101, 101, 112, 121, 145, 145, 145, 145, 221],
    'item_id': [417283, 849734, 132223, 573943, 19475, 3294095, 382043, 302948, 103845, 100132], 
    'price': [13900, 5330, 38200, 49990, 9890, 33000, 67500, 34500, 89900, 11400]
})
"""
Сформируйте DataFrame merged, в котором в результате объединения
purchase_df и items_df останутся модели, которые учтены на складе и имели продажи. 
"""
merged = items_df.merge(purchase_df, how='inner', on = 'item_id' )
#print(merged)

"""
Найдите из таблицы merged суммарную выручку, которую можно было бы получить 
от продажи всех товаров, которые есть на складе. 
Результат занесите в переменную income.
"""
merged['total'] = merged['stock_count']*merged['price']
income = merged['total'].sum()