In [2]:
import pandas as pd
import os
import sys

In [3]:
melb_df = pd.read_csv(sys.path[0] + '/data/melb_data_fe.csv', sep = ',')
melb_cp = melb_df.copy()

In [4]:
display(melb_cp.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 26 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Suburb           13580 non-null  object
 1   Rooms            13580 non-null  int64
 2   Type             13580 non-null  object
 3   Price            13580 non-null  float64
 4   Method           13580 non-null  object
 5   SellerG          13580 non-null  object
 6   Date             13580 non-null  object
 7   Distance         13580 non-null  float64
 8   Postcode         13580 non-null  int64
 9   Bedroom          13580 non-null  int64
 10  Bathroom         13580 non-null  int64
 11  Car              13580 non-null  int64
 12  Landsize         13580 non-null  float64
 13  BuildingArea     13580 non-null  float64
 14  CouncilArea      12211 non-null  object
 15  Lattitude        13580 non-null  float64
 16  Longtitude       13580 non-null  float64
 17  Regionname       13580 non-null  object
 18  Propertycount    13580 non-null  int64
 19  MeanRoomsSquare  13580 non-null  float64
 20  AreaRatio        13580 non-null  float64
 21  MonthSale        13580 non-null  int64
 22  AgeBuilding      13580 non-null  int64
 23  WeekdaySale      13580 non-null  int64
 24  StreetType       13580 non-null  object
 25  Weekend          13580 non-null  int64
dtypes: float64(8), int64(10), object(8)
memory usage: 2.7+ MB

None

In [5]:
melb_cp['Date'] = pd.to_datetime(melb_cp['Date'], dayfirst=True)

1.1

In [6]:
def get_quarter(month):
    if month in range(1,4):
        return 1
    elif  month in range(4,7):
        return 2
    elif month in range(7,10):
        return 3
    elif month in range(10,13):
        return 4

In [7]:
melb_cp['Quarter'] = melb_cp['Date'].dt.month.apply(get_quarter)

Количество проданных квартир по четвертям года

In [8]:
display(melb_cp['Quarter'].value_counts())

3    4873
2    4359
4    2329
1    2019
Name: Quarter, dtype: int64

1.2

In [9]:
melb_cp2 = melb_df.copy()

In [10]:
columns_to_change = []
ban_list = ['Date', 'Bedroom', 'Rooms', 'Car', 'Bathroom']

for columnName in melb_cp2.columns.tolist():
    if len(melb_cp2[columnName].value_counts().nlargest(150).index.tolist()) < 150 and columnName not in ban_list:
        columns_to_change.insert(0, columnName)

#display(columns_to_change)

for columnName in melb_cp2.columns.tolist():
    if columnName in columns_to_change:
        melb_cp2[columnName] = melb_cp2[columnName].astype('category')
        
display(melb_cp2.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 26 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Suburb           13580 non-null  category
 1   Rooms            13580 non-null  int64
 2   Type             13580 non-null  category
 3   Price            13580 non-null  float64
 4   Method           13580 non-null  category
 5   SellerG          13580 non-null  category
 6   Date             13580 non-null  object
 7   Distance         13580 non-null  float64
 8   Postcode         13580 non-null  int64
 9   Bedroom          13580 non-null  int64
 10  Bathroom         13580 non-null  int64
 11  Car              13580 non-null  int64
 12  Landsize         13580 non-null  float64
 13  BuildingArea     13580 non-null  float64
 14  CouncilArea      12211 non-null  category
 15  Lattitude        13580 non-null  float64
 16  Longtitude       13580 non-null  float64
 17  Regionname       13580 non-null  category
 18  Propertycount    13580 non-null  int64
 19  MeanRoomsSquare  13580 non-null  float64
 20  AreaRatio        13580 non-null  float64
 21  MonthSale        13580 non-null  category
 22  AgeBuilding      13580 non-null  int64
 23  WeekdaySale      13580 non-null  category
 24  StreetType       13580 non-null  category
 25  Weekend          13580 non-null  category
dtypes: category(10), float64(8), int64(7), object(1)
memory usage: 1.8+ MB

None

Сортировка столбца. Сортировка по убыванию(ascending=False)
Обновление индексов(ignore_index)

In [11]:
melb_cp.sort_values(by='AreaRatio', ascending=False, ignore_index=True)
display(melb_cp.iloc[1558])
display(melb_cp.info())

Suburb                        Camberwell
Rooms                                  2
Type                                unit
Price                          1017000.0
Method                                 S
SellerG                           Jellis
Date                 2016-03-12 00:00:00
Distance                             7.8
Postcode                            3124
Bedroom                                2
Bathroom                               1
Car                                    2
Landsize                             0.0
BuildingArea                       126.0
CouncilArea                   Boroondara
Lattitude                       -37.8231
Longtitude                      145.0585
Regionname         Southern Metropolitan
Propertycount                       8920
MeanRoomsSquare                     25.2
AreaRatio                            1.0
MonthSale                              3
AgeBuilding                           76
WeekdaySale                            5
StreetType                            Rd
Weekend                                1
Quarter                                1
Name: 1558, dtype: object

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 27 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Suburb           13580 non-null  object
 1   Rooms            13580 non-null  int64
 2   Type             13580 non-null  object
 3   Price            13580 non-null  float64
 4   Method           13580 non-null  object
 5   SellerG          13580 non-null  object
 6   Date             13580 non-null  datetime64[ns]
 7   Distance         13580 non-null  float64
 8   Postcode         13580 non-null  int64
 9   Bedroom          13580 non-null  int64
 10  Bathroom         13580 non-null  int64
 11  Car              13580 non-null  int64
 12  Landsize         13580 non-null  float64
 13  BuildingArea     13580 non-null  float64
 14  CouncilArea      12211 non-null  object
 15  Lattitude        13580 non-null  float64
 16  Longtitude       13580 non-null  float64
 17  Regionname       13580 non-null  object
 18  Propertycount    13580 non-null  int64
 19  MeanRoomsSquare  13580 non-null  float64
 20  AreaRatio        13580 non-null  float64
 21  MonthSale        13580 non-null  int64
 22  AgeBuilding      13580 non-null  int64
 23  WeekdaySale      13580 non-null  int64
 24  StreetType       13580 non-null  object
 25  Weekend          13580 non-null  int64
 26  Quarter          13580 non-null  int64
dtypes: datetime64[ns](1), float64(8), int64(11), object(7)
memory usage: 2.8+ MB

None

In [ ]:
mask1 = melb_df['Type'] == 'townhouse'
mask2 = melb_df['Rooms'] > 2

result = melb_df[mask1 & mask2].sort_values(
    by=['Rooms', 'MeanRoomsSquare'], 
    ascending=[True, False], 
    ignore_index=True)
print(result.iloc[18])

In [ ]:
mask1 = melb_df['Type'] == 'townhouse'
mask2 = melb_df['Rooms'] > 2
print(melb_df[mask1&mask2].sort_values(
    by=['Rooms', 'MeanRoomsSquare'],
    ascending=[True, False],
    ignore_index=True
).loc[18, 'Price'])

Группировка данных. Вывод по убыванию

In [ ]:
display(melb_df.groupby('Rooms')['Price'].agg('mean').sort_values(ascending=False))

In [ ]:
display(melb_df.groupby('Regionname')['Lattitude'].agg('std').sort_values(ascending=True))

Какая риелторская контора имеет наименьшую общую выручку за период

In [ ]:
melb_cp3 = melb_df.copy()
melb_cp3['Date'] = pd.to_datetime(melb_cp3.Date, dayfirst=True)
melb_date = melb_cp3[(melb_cp3['Date'] >= pd.to_datetime('2017-05-01')) & (melb_cp3['Date'] <= pd.to_datetime('2017-09-01'))]
#mask1 = 
display(melb_date.groupby('SellerG')['Price'].agg('sum').sort_values(ascending=True))

Простейшая сводная таблица

In [ ]:
print(melb_df.groupby('Rooms')[['Price', 'BuildingArea']].median())

In [ ]:
print(melb_df.groupby(['Rooms', 'Type'])['Price'].mean())

In [140]:
print(melb_df.groupby(['Rooms', 'Type'])['Price'].mean().unstack())

Type          house     townhouse          unit
Rooms
1      8.668655e+05  5.927045e+05  3.899289e+05
2      1.017238e+06  7.101585e+05  6.104905e+05
3      1.109233e+06  9.847087e+05  8.505963e+05
4      1.462283e+06  1.217092e+06  1.037476e+06
5      1.877327e+06  1.035000e+06           NaN
6      1.869508e+06           NaN  5.200000e+05
7      1.920700e+06           NaN           NaN
8      1.510286e+06           NaN  2.250000e+06
10     9.000000e+05           NaN           NaN

Тоже самое, но методом pivot_table

In [143]:
print(melb_df.pivot_table(
    values='Price', # Данные в таблице
    index='Rooms', # Индексы сводной таблицы
    columns='Type', # имена столбцов: категории в 'Type'
    fill_value=0, # пропуски запонить нулями
).round())

Type       house  townhouse       unit
Rooms
1       866866.0   592705.0   389929.0
2      1017238.0   710158.0   610491.0
3      1109233.0   984709.0   850596.0
4      1462283.0  1217092.0  1037476.0
5      1877327.0  1035000.0        0.0
6      1869508.0        0.0   520000.0
7      1920700.0        0.0        0.0
8      1510286.0        0.0  2250000.0
10      900000.0        0.0        0.0

In [145]:
print(melb_df.pivot_table(
    values='Price', # Данные в таблице
    index='Regionname', # Индексы сводной таблицы
    columns='Weekend', # имена столбцов: категории в 'Type' 
    fill_value=0, # пропуски запонить нулями
    aggfunc='count'
).round())

Weekend                        0     1
Regionname
Eastern Metropolitan         447  1024
Eastern Victoria              13    40
Northern Metropolitan       1258  2632
Northern Victoria             11    30
South-Eastern Metropolitan   123   327
Southern Metropolitan       1534  3161
Western Metropolitan         960  1988
Western Victoria               8    24

In [147]:
print(melb_df.pivot_table(
    values='Price', # имя столбца, к которому будут применены агрегирующие функции
    index=['Regionname','Type'], # Индексы сводной таблицы
    columns='Weekend', # имена столбцов: категории в 'Type' 
    fill_value=0, # пропуски запонить нулями
    aggfunc='count' # список агрегирующих функций
).round())

Weekend                                 0     1
Regionname                 Type
Eastern Metropolitan       house      341   832
                           townhouse   42    76
                           unit        64   116
Eastern Victoria           house       13    37
                           unit         0     3
Northern Metropolitan      house      864  1890
                           townhouse  106   201
                           unit       288   541
Northern Victoria          house       11    30
South-Eastern Metropolitan house      102   286
                           townhouse   10    15
                           unit        11    26
Southern Metropolitan      house      830  1891
                           townhouse  127   298
                           unit       577   972
Western Metropolitan       house      762  1528
                           townhouse   70   169
                           unit       128   291
Western Victoria           house        8    24

In [210]:
table = melb_df.pivot_table(
    values='BuildingArea', # имя столбца, к которому будут применены агрегирующие функции
    index='Type', # Индексы сводной таблицы
    columns='Rooms', # имена столбцов: категории в 'Type' 
    fill_value=0, # пропуски запонить нулями
    aggfunc='median' # список агрегирующих функций
)
print(table)

Rooms         1    2    3      4    5    6      7    8    10
Type
house      126.0  126  126  141.0  177  126  216.5  126  126
townhouse   88.0  114  126  159.5  152    0    0.0    0    0
unit        69.5  110  126  126.0    0  171    0.0  126    0

In [231]:
table = melb_df.pivot_table(
    values='Price', # имя столбца, к которому будут применены агрегирующие функции
    index='SellerG', # Индексы сводной таблицы
    columns='Type', # имена столбцов: категории в 'Type' 
    fill_value=0, # пропуски запонить нулями
    aggfunc='median' # список агрегирующих функций
)
max_price = table['unit'].max()

#print(table)
display(table[table['unit'] == max_price])
display(table[table['unit'] == max_price].index)

Type       house  townhouse    unit
SellerG
Nick     2025000     780000  900000

Index(['Nick'], dtype='object', name='SellerG')