In [180]:
import pandas as pd

data = pd.read_csv('data/heart.csv')

In [181]:
data.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [182]:
is_old = lambda x: 1 if x > 60 else 0
data['old'] = data['age'].apply(is_old)

In [183]:
data['old'].sum()

79

In [184]:
d = {1: [123, 126, 129, 135, 142, 142],
    0: [116, 120, 127, 137, 144, 159]}
trebs = pd.DataFrame(data=d, index=[0,1,2,3,4,5])

In [185]:
def get_trestbps_mean(row):
    scale_age = 0
    if row['age'] <= 20: scale_age = 0
    elif row['age'] > 20 and row['age'] <= 30: scale_age = 1
    elif row['age'] > 30 and row['age'] <= 40: scale_age = 2
    elif row['age'] > 40 and row['age'] <= 50: scale_age = 3
    elif row['age'] > 50 and row['age'] <= 60: scale_age = 4
    elif row['age'] > 60: scale_age = 5
    return trebs[row['sex']][scale_age]

In [186]:
data['trestbps_mean'] = data[['age', 'sex']].apply(get_trestbps_mean, axis=1)

In [189]:
data.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target,old,trestbps_mean
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1,1,142
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1,0,129
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1,0,137
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1,0,142
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1,0,144

In [190]:
import category_encoders as ce

encoder = ce.OneHotEncoder(cols=['cp', 'restecg', 'slope', 'ca', 'thal'], use_cat_names=True) # указываем столбец для кодирования
type_bin = encoder.fit_transform(data[['cp', 'restecg', 'slope', 'ca', 'thal']])
data = pd.concat([data, type_bin], axis=1)

data = data.drop(['cp', 'restecg', 'slope', 'ca', 'thal'], axis=1)

In [191]:
data.describe()

,age,sex,trestbps,chol,fbs,thalach,exang,oldpeak,target,old,...,slope_1.0,ca_0.0,ca_2.0,ca_1.0,ca_3.0,ca_4.0,thal_1.0,thal_2.0,thal_3.0,thal_0.0
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,...,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000
mean,54.366337,0.683168,131.623762,246.264026,0.148515,149.646865,0.326733,1.039604,0.544554,0.260726,...,0.462046,0.577558,0.125413,0.214521,0.066007,0.016502,0.059406,0.547855,0.386139,0.006601
std,9.082101,0.466011,17.538143,51.830751,0.356198,22.905161,0.469794,1.161075,0.498835,0.439757,...,0.499382,0.494765,0.331734,0.411169,0.248704,0.127605,0.236774,0.498528,0.487668,0.081110
min,29.000000,0.000000,94.000000,126.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,47.500000,0.000000,120.000000,211.000000,0.000000,133.500000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,55.000000,1.000000,130.000000,240.000000,0.000000,153.000000,0.000000,0.800000,1.000000,0.000000,...,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000
75%,61.000000,1.000000,140.000000,274.500000,0.000000,166.000000,1.000000,1.600000,1.000000,1.000000,...,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000
max,77.000000,1.000000,200.000000,564.000000,1.000000,202.000000,1.000000,6.200000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [192]:
# для нормализации, стандартизации
from sklearn import preprocessing

mm_scaler = preprocessing.MinMaxScaler()
r_scaler = preprocessing.RobustScaler()
#chol/thalach/oldpeak - robust

In [193]:
data['chol'] = r_scaler.fit_transform(pd.DataFrame(data['chol']))
data['thalach'] = r_scaler.fit_transform(pd.DataFrame(data['thalach']))
data['oldpeak'] = r_scaler.fit_transform(pd.DataFrame(data['oldpeak']))
data['trestbps'] = mm_scaler.fit_transform(pd.DataFrame(data['trestbps']))

стандартное отклонение признака chol

In [194]:
import statistics

statistics.stdev(data['chol'])

0.8162322990225203

In [219]:
import seaborn as sns # импортируем seaborn для построения графиков
#sns.heatmap(data.corr(), annot=True,vmin=0.7) # включаем отображение коэффициентов
pdaa = data.corr()
display(round(data.corr().clip(lower=0.5),3))
#import plotly.express as px

#df = px.data.medals_wide(indexed=True)
#fig = px.imshow(data.corr(),vmin=0.7)
#fig.show()

,age,sex,trestbps,chol,fbs,thalach,exang,oldpeak,target,old,...,slope_1.0,ca_0.0,ca_2.0,ca_1.0,ca_3.0,ca_4.0,thal_1.0,thal_2.0,thal_3.0,thal_0.0
age,1.000,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.500,0.718,...,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.500,0.5,0.5
sex,0.500,1.0,0.5,0.5,0.5,0.5,0.5,0.5,0.500,0.500,...,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.500,0.5,0.5
trestbps,0.500,0.5,1.0,0.5,0.5,0.5,0.5,0.5,0.500,0.500,...,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.500,0.5,0.5
chol,0.500,0.5,0.5,1.0,0.5,0.5,0.5,0.5,0.500,0.500,...,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.500,0.5,0.5
fbs,0.500,0.5,0.5,0.5,1.0,0.5,0.5,0.5,0.500,0.500,...,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.500,0.5,0.5
thalach,0.500,0.5,0.5,0.5,0.5,1.0,0.5,0.5,0.500,0.500,...,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.500,0.5,0.5
exang,0.500,0.5,0.5,0.5,0.5,0.5,1.0,0.5,0.500,0.500,...,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.500,0.5,0.5
oldpeak,0.500,0.5,0.5,0.5,0.5,0.5,0.5,1.0,0.500,0.500,...,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.500,0.5,0.5
target,0.500,0.5,0.5,0.5,0.5,0.5,0.5,0.5,1.000,0.500,...,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.527,0.5,0.5
old,0.718,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.500,1.000,...,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.500,0.5,0.5
trestbps_mean,0.763,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.500,0.612,...,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.500,0.5,0.5
cp_3.0,0.500,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.500,0.500,...,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.500,0.5,0.5
cp_2.0,0.500,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.500,0.500,...,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.500,0.5,0.5
cp_1.0,0.500,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.500,0.500,...,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.500,0.5,0.5
cp_0.0,0.500,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.500,0.500,...,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.500,0.5,0.5
restecg_0.0,0.500,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.500,0.500,...,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.500,0.5,0.5
restecg_1.0,0.500,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.500,0.500,...,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.500,0.5,0.5
restecg_2.0,0.500,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.500,0.500,...,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.500,0.5,0.5
slope_0.0,0.500,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.500,0.500,...,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.500,0.5,0.5
slope_2.0,0.500,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.500,0.500,...,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.500,0.5,0.5
slope_1.0,0.500,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.500,0.500,...,1.0,0.5,0.5,0.5,0.5,0.5,0.5,0.500,0.5,0.5
ca_0.0,0.500,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.500,0.500,...,0.5,1.0,0.5,0.5,0.5,0.5,0.5,0.500,0.5,0.5
ca_2.0,0.500,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.500,0.500,...,0.5,0.5,1.0,0.5,0.5,0.5,0.5,0.500,0.5,0.5
ca_1.0,0.500,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.500,0.500,...,0.5,0.5,0.5,1.0,0.5,0.5,0.5,0.500,0.5,0.5
ca_3.0,0.500,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.500,0.500,...,0.5,0.5,0.5,0.5,1.0,0.5,0.5,0.500,0.5,0.5
ca_4.0,0.500,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.500,0.500,...,0.5,0.5,0.5,0.5,0.5,1.0,0.5,0.500,0.5,0.5
thal_1.0,0.500,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.500,0.500,...,0.5,0.5,0.5,0.5,0.5,0.5,1.0,0.500,0.5,0.5
thal_2.0,0.500,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.527,0.500,...,0.5,0.5,0.5,0.5,0.5,0.5,0.5,1.000,0.5,0.5
thal_3.0,0.500,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.500,0.500,...,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.500,1.0,0.5
thal_0.0,0.500,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.500,0.500,...,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.500,0.5,1.0